.paging
{
    display: flex;
    align-items: center;
    position: relative;
    height: 46px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.box-paging
{
    background-color: #e6e6e6;
}

.amount-record
{
    margin-left: 23px;
    margin-top: 3px;
}

.paging-right
{
    position: absolute;
    right: 50px;
}

.page-size
{
    margin-right: 12px;
    margin-top: 3px;
}

.index-page
{
    display: flex;
    margin-right: 30px;
    margin-top: 3px;
}

.pagination
{
    display: flex;
    align-items: center;
    height: 32px;
}

.pagination .active
{
    border: 1px solid #e0e0e0;
    font-weight: 900;
}

.pagination .disabled
{
    color:#a6a6a6;
}

.pagination li 
{
    list-style-type: none;
}

.page-item
{
    padding: 0 8px;
}

.btn-pre
{
    padding-right: 7px;
}

.btn-next
{
    padding-left: 7px;
}