.paging
{
    display: flex;
    padding-top: 14px;
    padding-left: 40px;
    position: relative;
}

.page-size
{
    position: absolute;
    right: 265px;
    bottom: -4px;
}

.index-page
{
    position: absolute;
    right: 60px;
    top: 12px;
}

#select-size 
{
    height: 32px;
    width: 198px;
}

.index-page
{
    display: flex;
    margin-right: 30px;
}

.index-paging
{
    padding-left: 8px;
    padding-right: 8px;
}
