.table-employee {
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
  height: calc(100vh - 257px);
  display: block;
}

.box-table
{
  background-color: #e6e6e6;
}

.box-table-employee
{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

table
{
  background-color: white;
}

.table-employee thead
{
  border-bottom: 1px solid #c8c8c8;
  position: relative;
  z-index: 2;
}


.column-sticky-left
{
  position: sticky;
  left: 0;
  z-index: 1 !important;
  background-color: white;
}

.column-sticky-left-2
{
  position: sticky;
  left: 40px;
  z-index: 1!important;
  background-color: white;
  border-left: 1px dotted #c7c7c7 ;
}

.column-sticky-left-3
{
  position: sticky;
  left: 183px;
  z-index: 1!important;
  background-color: white;
}

.column-sticky-right
{
  position: sticky;
  right: 0;
  border-left: 1px dotted #c7c7c7;
  z-index: 1!important;
  background-color: white;
}

.border-none
{
  border-right: 0px !important
}

.size-checkbox
{
  width: 16px; height: 18px
}

.table-employee th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-employee th {
  position: sticky;
  top: 0;
  background-color: #eceef1;
}

.table-employee th:not(:first-child) {
  border-right: 1px dotted #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-color: #eceef1;
  padding-right: 10px;
  height: 34px;
  min-width: 143px;
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
}

.table-employee th:first-child {
  border-right: 1px dotted #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-color: #eceef1;
  padding-left: 12px;
  padding-right: 12px;
}

.table-employee td:not(:first-child) {
  border-right: 1px dotted #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  /* min-width: 143px; */
  text-align: left;
  max-width: 160px;
  padding-left: 10px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}

.table-employee td:first-child {
  border-right: 1px dotted #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
